*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SFRounded";
  src: local("SFRounded"),
      url('../fonts/SFRounded-Ultralight.woff2') format('woff2'),
      url('../fonts/SFRounded-Ultralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  color: #1A1A1A;
}

main {
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  width: 1024px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin: 40px 80px 0 0;
}

.logo:hover {
  cursor: pointer;
}

.logo__img {
  width: 72px;
  height: 72px;
  margin-right: 16px;
}

.logo__text {
  font-family: "SFRounded";
  font-size: 28px;
  line-height: 33px;
}

.search {
  background-color: #fff;
  width: 510px;
  height: 48px;
  border-radius: 24px;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__text {
  font-size: 16px;
  line-height: 20px;
  color: #7B8E98;
  margin-left: 20px;
}

.search__img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  padding: 2px;
}

.search__img:hover {
  cursor: pointer;
  background-color: rgba(68, 61, 29, 0.082);
}

.icons {
  margin: 64px 0px 0 80px;
  width: 140px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.icon {
  padding: 2px;
}

.icon:hover {
  background-color: rgba(68, 61, 29, 0.082);
}

.main {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  margin-top: 80px;
}

.main__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
}

.catalog {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
  border-radius: 60px;
  border: none;
  width: 154px;
  height: 56px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 16px;
  margin-top: 40px;
  padding: 0 16px 0 25px;
  font-family: 'Nunito', sans-serif;
  color: #1A1A1A;
  margin-bottom: 92px;
}

.catalog:hover {
  cursor: pointer;
  background: #ffef89;
  transition: 0.5s background-color;
}

.main__img {
  margin: 140px 0px 40px 0;
}

.menu {
  width: 992px;
  height: 132px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

a {
  text-decoration: none;
}

.menu__link {
  width: 92px;
  height: 92px;
  text-align: center;
}

.menu__text {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #1A1A1A;
}

.menu__text:hover {
  color: #FED700;
  transition: 0.5s all;
}

.banner {
  width: 992px;
  height: 260px;
  background-color: #FF8F27;
  border-radius: 20px;
  background-image: url(../img/Banner.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 38px 0 38px 87px;
  margin: 40px auto;
}

.banner:hover {
  cursor: pointer;
}

h2 {
  font-weight: 900;
  font-size: 47px;
  line-height: 50px;
  color: #fff;
  margin: 0;
}

.banner__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
}

.banner__free {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}

.l-r__buttons {
  background-color: transparent;
  border: none;
}

.l-r__buttons:hover {
  cursor: pointer;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.product {
  width: 236px;
  height: 359px;
  text-align: left;
  position: relative;
}

.product__img:hover {
  cursor: pointer;
}

.follow {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1px;
  top: 1px;
}

.follow:hover {
  cursor: pointer;
}

.badge {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 1px;
  top: 1px;
}

.old__price {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  margin: 16px 0 0 0;
}

.new__price {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #F44336;
  margin: 0;
}

.price{
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0 0 0;
}

.number {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7B8E98;
  margin: 6px 0 2px 0;
}

.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  height: 40px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.in-cart {
  background: #FED700;
  border-radius: 55px;
  width: 115px;
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
  font-family: 'Nunito', sans-serif;
  margin-top: 16px;
}

.in-cart:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #CFD8DC;
  transition: 0.5s all;
}

.banners {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.banners:hover {
  cursor: pointer;
}

.banner__second {
  background-color: #D8A217;
  background-image: url(../img/kit.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 488px;
  height: 220px;
  border-radius: 20px;
  padding: 56px 0 51px 42px;
}

.second {
  margin-top: 8px;
}

.banner__third {
  background-color: #24B5BE;
  background-image: url(../img/oil-mix.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 488px;
  height: 220px;
  border-radius: 20px;
  padding: 68px 0 50px 42px;
}

.third {
  margin-top: 16px;
}

h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
}

.banners__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.banners__span {
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  margin-top: 20px;
  color: #fff;
}

.goodies {
  margin-bottom: 40px;
}

.banner__fourth {
  background-color: #9CCD55;
  background-image: url(../img/hornsb.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 488px;
  height: 220px;
  border-radius: 20px;
  padding: 50px 0 43px 42px;
}

.banner__fiveth {
  background-color: #DB6825;
  background-image: url(../img/neck.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 488px;
  height: 220px;
  border-radius: 20px;
  padding: 64px 0 58px 42px;
}

.kits {
  margin-top: 16px;
}

.data {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 4px;
}

.calendar {
  height: 14px;
  width: 14px;
}

.news {
  font-weight: bold;
}

.news__product {
  height: 236px;
}

.comment {
  width: 488px;
}

.comment__info {
  display: flex;
  border-bottom: 1px solid #ECEFF1;
}

.comment_img {
  height: 116px;
  margin-right: 8px;
}

.coments {
  font-weight: bold;
  margin-bottom: 8px;
}

.rating {
  margin-bottom: 18px;
}

.all__comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 9px 0px 16px;
  width: 115px;
  background-color: transparent;
  border-radius: 87px;
  border: 1px solid #CFD8DC;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #1A1A1A;
  margin-bottom: 16px;
}

.all__comment:hover {
  cursor: pointer;
  background: #FED700;
  transition: 0.5s all;
  border: 1px solid #FED700;
}

.comment__arrow {
  width: 16px;
  height: 16px;
}

.comment__data {
  font-size: 14px;
  line-height: 20px;
}

.author {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.content {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Nunito', sans-serif;
}

.comment__link {
  text-decoration-line: underline;
  color: #FEBA0C;
}

.img__content {
  margin-right: 16px;
}

.img__content:hover {
  cursor: pointer;
}

.viewed__img {
  width: 186px;
}

.viewed__product {
  width: 185.6px;
}

footer {
  background-image: url(../img/bg-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.footer__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 46px;
  color: #1A1A1A;
}

.footer__span {
  font-weight: 800;
  font-size: 52px;
  line-height: 46px;
}

.footer__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.footer__container {
  padding-top: 24px;
}

.personal_info {
  width: 318px;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 7px 16px;
  margin-bottom: 8px;
}

.your__name {
  font-size: 12px;
  line-height: 14px;
  color: #7B8E98;
  margin: 0;
}

.personal__name {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.phone {
  font-size: 16px;
  line-height: 20px;
  color: #7B8E98;
  margin: 7px 0;
}

.send {
  background-color: #fff;
  border: none;
  width: 130px;
  height: 48px;
  border-radius: 87px;
  padding: 14px 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
  font-family: 'Nunito', sans-serif;
  margin-top: 16px;
}

.send:hover {
  cursor: pointer;
  background: #ffef89;
  transition: 0.5s background-color;
}

.footer__main {
  display: flex;
  justify-content: space-between;
}

.footer__img {
  margin-top: 144px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin: 0;
}

.shop {
  font-size: 9px;
  line-height: 12px;
}

.nav {
  display: grid;
}

.nav__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #1A1A1A;
  opacity: 0.6;
  margin-bottom: 20px;
}

.contacts {
  margin-top: 40px;
}

.contacts__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 12px 0;
}

.tel {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #1A1A1A;
}

.email {
  font-size: 14px;
  line-height: 20px;
  color: #1A1A1A;
  display: grid;
  margin-top: 4px;
}

.social {
  margin-top: 12px;
}

.social__img {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1040px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu {
    max-width: 100%;
  }
  .banner {
    max-width: 100%;
  }
  .product,
  .product__img,
  .price,
  .number,
  .name,
  .follow {
    width: 90%;
  }
  .banner__second,
  .banner__fourth {
    margin-right: 10px;
  }
  .banner__third,
  .banner__fiveth {
    margin-left: 10px;
  } 
}

@media screen and (max-width: 840px) {
  .main__img,
  .footer__img {
    max-width: 90%;
    margin-left: 10px;
  }
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .main__text {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
  }
  .footer__title {
    font-size: 36px;
    line-height: 42px;
  }
  .footer__span {
    font-size: 48px;
    line-height: 42px;
  }
  .banner {
    height: 230px;
    padding: 30px 0 29px 67px;
  }
  h2 {
    font-size: 43px;
    line-height: 46px;
  }
  .banner__text {
    font-size: 24px;
    line-height: 28px;
  }
  .banner__second,
  .banner__fourth,
  .banner__third,
  .banner__fiveth {
    height: 200px;
  }
  .product {
    height: 290px;
  }
  .news__product {
    height: 190px;
  }
  .content {
    font-size: 12px;
    line-height: 18px;
  }
  .comment {
    width: 90%;
  }
  footer {
    min-height: 80vh;
    padding: 10px;
  }
}

@media screen and (max-width: 720px) {
  h3 {
    font-size: 28px;
    line-height: 25px;
  }
  .banners__text {
    font-size: 16px;
    line-height: 20px;
  }
  .banner__second,
  .banner__fourth,
  .banner__third,
  .banner__fiveth {
    height: 185px;
  }
}
